---
layout: default
title: About us
excerpt: |
  Call us today on 021 866 991. Williams Plumbing specialise in high-end
  builds, renovations and plumbing maintenance in the Auckland area. Over
  10 years experience. Specialist in delivering excellent plumbing solutions
  across the board. High-end builds and renovations to day-to- day
  plumbing fixes.
---
<div class="container-fluid text-center">
  <div class="row">
    <div class="col-12 blob">
      <p>Williams Plumbing owner and operator Adam Williams knows good plumbing.</p>
      <p>
        With over 10 years’ experience in the plumbing industry, Adam has become
        a specialist in delivering excellent plumbing solutions across the board,
        from high-end builds and renovations to day-to-day plumbing fixes.
      </p>
      <p>
        At Williams Plumbing, we regularly work with architects,
        interior designers, builders and project managers. We know how
        to deliver results to satisfy all the key parties on a project.
      </p>
      <p>
        Having worked on a number of luxury builds, we can
        confidently offer plumbing solutions to complement an
        architect’s vision for a home.
      </p>
      <p>
        We’re also available for general plumbing maintenance jobs,
        including repairs, clearing of blockages and more.
        Take a look at the <a href="/services">services we offer</a> for more details.
      </p>
    </div>
  </div>
  <div class="hero">
    <div class="hero-slider">
      <div class="hero-img"></div>
      <div class="hero-img"></div>
      <div class="hero-img"></div>
      <div class="hero-img"></div>
    </div>
  </div>
  <!-- <div class="row">
    <div class="col-4">
      {% include image.html name="services/new_homes.jpg" fluid="true" %}
    </div>
    <div class="col-4">
      {% include image.html name="services/renovations.jpg" fluid="true" %}
    </div>
    <div class="col-4">
      {% include image.html name="services/maintenance.jpg" fluid="true" %}
    </div>
  </div> -->
</div>
