<footer class="text-center footer">
  <div class="container-fluid">
    <div class="footer-top row">
      <div class="col-4">Contact information</div>
      <div class="col-4">Hours</div>
      <div class="col-4">Testimonials</div>
    </div>
    <div class="footer-main row">
      <div class="footer-segment">
        <ul class="list-unstyled">
          <li>Adam Williams - Owner</li>
          <li>021 866 991</li>
          <li>adam@williamsplumbing.co.nz</li>
        </ul>
      </div>
      <div class="footer-segment">Hours</div>
      <div class="footer-segment">Testimonials</div>
    </div>
  </div>
</footer>
