<footer class="text-center footer">
  <div class="container-fluid">
    <div class="footer-top row">
      <div class="col-4">Contact information</div>
      <div class="col-4">Hours</div>
      <div class="col-4"></div>
    </div>
    <div class="footer-main row">
      <div class="footer-segment">
        <ul class="list-unstyled">
          <li>Adam Williams - Owner</li>
          <li>021 866 991</li>
          <li>adam@williamsplumbing.co.nz</li>
        </ul>
      </div>
      <div class="footer-segment">
        <ul class="list-unstyled">
          <li>Normal working hours:</li>
          <li>Monday - Friday</li>
          <li>7:00am - 6:00pm</li>
          <li>
            If you have an urgent job outside of these hours,
            give us a call and we will be happy to help.
          </li>
        </ul>
      </div>
      <div class="footer-segment"></div>
    </div>
  </div>
</footer>
