$w-grey: rgb(38, 38, 38);
$w-blue: rgb(39, 170, 225);

$navbar-inverse-hover-color:           $w-blue;
$navbar-inverse-active-color:          $w-blue;
$brand-inverse: $w-grey;
$font-size-base: .9rem;
