body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.page-content {
  flex: 1;
  display: flex;
  width: 100%;
}

.footer {
  @media (max-width: map-get($grid-breakpoints, md)) {
    font-size: 12px;
  }
}

.footer-top {
  background-color: $navbar-inverse-active-color;
  color: $white;
  padding: 10px 0;
}
.footer-main {
  background-color: $black;
  color: $white;
  padding: 10px 0;
}
.footer-segment {
  border-right: 1px solid $white;
  &:last-child {
    border-right: 0;
  }

  @include make-col-ready();

  @media (max-width: map-get($grid-breakpoints, sm)) {
    @include make-col(12);
  }

  @media (min-width: map-get($grid-breakpoints, sm)) {
    @include make-col(4);
  }
}
.navbar-brand,
.navbar-nav li a {
    line-height: 80px;
    height: 80px;
    padding-top: 0;
}
