.centered-row {
  @include make-row();
  height: 100%;
  align-items: center
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.page-content {
  flex: 1;
  display: flex;
  width: 100%;
}

.padded-row {
  @include make-row();
  padding: 40px 0;
}

.vertical-center {
  display: flex;
  align-items: center;
}

.home-content {
  @include make-container();
  min-height: 40vh;
  display: flex;
  align-items: center;
}
