body {
  color: #fff;
  background-color: #000;
  font-family: 'Roboto', sans-serif;
}
.page-header {
  margin: 40px 0;
  color: rgba(37, 170, 225, 1);
}
.highlight {
  color: rgba(37, 170, 225, 1);
}
figure {
  position: inherit;
}
figcaption {
  position: absolute;
  margin: auto;
  top: 50%;
  width: 100%;
  background-color: rgba(255, 255, 255, .7);
  color: #000;
  font-weight: 600;
  text-transform: uppercase;
}
